{% extends ('base.html.twig') %}

{% block content %}

    <div class="container">
        <div class="jumbotron text-center">
            <h2>Welcome to my Pokemon battle</h2>


        </div>
    </div>

{% endblock %}