{% extends ('base.html.twig') %}

{% block content %}

    <div class="container jumbotron">
        <h2 class="text-center">Create Account</h2>
        <p class="text-center">choose a username and a password and click on "Submit"</p>
        <form method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <div style="text-align: center">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>

{% endblock %}